<li><%= customer.name %></li>
<span><%= link_to 'edit', edit_customer_path(customer)%></span>
<span>
  <% if current_customer.admin? && !current_customer?(@customer) %>
    <%= link_to 'destroy', customer_path(customer),
                           method: :delete,
                           data: { confirm: 'Are you sure?' } %>
  <% else %>
    <%= NOT THE ADMIN!! %>
  <% end %>
</span>