<h1>Customers#index</h1>
<ul>
  <li><%= link_to 'Sign up!', customers_new_path %></li>
  <li><%= logged_in_link(current_customer)%></li> 
  <li>
    <% if current_customer.admin? %>
     <%= link_to 'List of customers', customers_all_path %>
    <% end %>
  </li>
</ul>