<h1>Customers#show</h1>
<table>
  <tr>
    <td>Name&nbsp;&nbsp;</td>
    <td>Email address</td>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><%= link_to 'edit', edit_customer_path(customer)%></td>
    </tr>
  <% end %>
</table>